.spinner{
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  z-index: 2;
}

@keyframes ldio-yp881gue0zp {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.ldio-yp881gue0zp div {
  left: 98px;
  top: 30px;
  position: absolute;
  animation: ldio-yp881gue0zp linear 1s infinite;
  background: #337ab7;
  width: 4px;
  height: 24px;
  border-radius: 0.96px / 0.96px;
  transform-origin: 2px 70px;
}

.ldio-yp881gue0zp div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9473684210526315s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(2) {
  transform: rotate(18.94736842105263deg);
  animation-delay: -0.8947368421052632s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(3) {
  transform: rotate(37.89473684210526deg);
  animation-delay: -0.8421052631578947s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(4) {
  transform: rotate(56.8421052631579deg);
  animation-delay: -0.7894736842105263s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(5) {
  transform: rotate(75.78947368421052deg);
  animation-delay: -0.7368421052631579s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(6) {
  transform: rotate(94.73684210526316deg);
  animation-delay: -0.6842105263157895s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(7) {
  transform: rotate(113.6842105263158deg);
  animation-delay: -0.631578947368421s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(8) {
  transform: rotate(132.6315789473684deg);
  animation-delay: -0.5789473684210527s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(9) {
  transform: rotate(151.57894736842104deg);
  animation-delay: -0.5263157894736842s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(10) {
  transform: rotate(170.52631578947367deg);
  animation-delay: -0.47368421052631576s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(11) {
  transform: rotate(189.47368421052633deg);
  animation-delay: -0.42105263157894735s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(12) {
  transform: rotate(208.42105263157896deg);
  animation-delay: -0.3684210526315789s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(13) {
  transform: rotate(227.3684210526316deg);
  animation-delay: -0.3157894736842105s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(14) {
  transform: rotate(246.31578947368422deg);
  animation-delay: -0.2631578947368421s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(15) {
  transform: rotate(265.2631578947368deg);
  animation-delay: -0.21052631578947367s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(16) {
  transform: rotate(284.2105263157895deg);
  animation-delay: -0.15789473684210525s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(17) {
  transform: rotate(303.1578947368421deg);
  animation-delay: -0.10526315789473684s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(18) {
  transform: rotate(322.10526315789474deg);
  animation-delay: -0.05263157894736842s;
  background: #337ab7;
}

.ldio-yp881gue0zp div:nth-child(19) {
  transform: rotate(341.05263157894734deg);
  animation-delay: 0s;
  background: #337ab7;
}

.loadingio-spinner-spinner-88ct2rgsrdg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-yp881gue0zp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-yp881gue0zp div { 
    box-sizing: content-box; 
}
/* generated by https://loading.io/ */