.checkbox__row{
    display: flex;
    justify-content: space-between;
}

.checkbox__row-item{
    display: flex;
    align-items: center;
}

.checkbox__main{
    width: 1.75rem;
    height: 1.75rem;
    margin-top: 0;
}

.checkbox__label{
    transition: all .1s;
    font-size: 1.05rem;
}

.checkbox__label-file{
    width: 125px;
    height: 35px;
    display: block;
    background: #007bff;
    font-size: .75rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 2px #5aa8fcce;
}

.checkbox__file{
    width: .1px;
    height: .1px;
    opacity: 0;
    position: relative;
    z-index: -1;
}