.add-company{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 5px #bcbcbc;
}
.add-company::before,
.add-company::after{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #888;
    position: absolute;
    left: calc(50% - 12.5px);
    top: calc(50% - 1px);
}
.add-company::after{
    transform: rotate(90deg);
}
.add-company__wrapper{
    
}